[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrtlsdrlib = {editable = true, path = "."}

[dev-packages]
pygithub = "*"
ipython = "*"
requests = "*"
loguru = "*"
build = "*"
json-object-factory = "*"
click = "*"

[requires]
python_version = "3.8"
